:host {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100svh;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  border-radius: 0 0 2rem 2rem;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid black;
  margin-top: 2rem;
  padding: 1rem;
}

.title {
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid var(--mat-sys-primary);
  margin: 1rem;
}

.title:hover {
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

header .active-link {
  border-bottom: 2px solid transparent;
}

.router-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
